<h1>Login</h1>

<form action="/login" method="post">
  <div class="">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="" required>
  </div>
  <div class="">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="" required>
  </div>
  <button type="submit" name="button">Login</button>
</form>
<a href="/register">Register</a>
